#search{
    width: 500px;
    margin-top: 100px;
}
mat-card{
    padding-bottom: 1px;
}
.mat-full-width{
    width: 50%;
}
.zoom:hover{
    cursor: pointer;
    -ms-transform: scale(3.20);
    -webkit-transform: scale(2.0);
    transform: scale(1.24);
}
p{
    cursor: pointer;
}
.grid-container  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: 5px;
    align-content: center;
    text-align: center;

}
.grid-item {
    
    border: 1.25px solid rgba(240, 0, 0, 0.5);
    padding-bottom: 10px;
    padding-top:-20px;
}
// track name
#trackName{
    color: rgba(235, 235, 235, 0.671);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

