button{
    margin-bottom: 100%
}
mat-card{
    width:100%;
    text-align: center;
    margin-left: 300px;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 200px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.1); /* Black background with 0.5 opacity */
}
mat-form-field{
    width: 50%
}




