/* .card{
    margin-top: 80px;
    max-width: 400px;    
}
.container{
    position: fixed
}
.myFrame{
    margin-top: 80px;
}
.myFrame{
    border:10px solid grey;
}

#description {
    font-family: helvetica;
    font-size: 14px;
} */
/* .container {
    background-color: white;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px 50px;
} */
.grid-container {
    display: grid;
    background-color: black;
    grid-template-columns: 1fr 1fr 0.5fr;
    /* grid-template-rows: 50px 50px; */
}
.youtube-card{
    background-color: black;
}
.info-card{
    background-color:grey;
    margin-right: 100px;
}
.header{
    background-color:grey;
}
.header-image{
    background-image: url('https://i.ytimg.com/vi/Pgum6OT_VH8/hqdefault.jpg');
    background-size: cover;
}
img{
    width: 500px;
    margin-left: 2px;
    border-radius: 5px;
    padding: 5px;
    margin-right: 3px;
}