.grid-container {
    display: grid;
    /* background-color: black; */
    grid-template-columns: 1fr 1fr 0.5fr;
    /* grid-template-rows: 50px 50px; */
}
.youtube-card{
    /* background-color: rgb(44, 37, 37); */
    background-image: url('/src/app/jpeg/music.jpg');
}
.info-card{
    background-color:grey;
    margin-right: 100px;
}
.header{
    background-color:grey;
}
.header-image{
    background-image: url('https://i.ytimg.com/vi/Pgum6OT_VH8/hqdefault.jpg');
    background-size: cover;
}
img{
    width: 500px;
    margin-left: 2px;
    border-radius: 5px;
    padding: 5px;
    margin-right: 3px;
}